<html lang="en" ng-app="MyCoolApp">

<head>
    <title>Document</title>

    <link rel="stylesheet" href="./app/style.css" />
</head>

<body>

    <div style="height: 50px;width: 100%;background-color: darkslateblue;position: sticky"
        ng-controller="headerController">
        <h1>TRELLO 2.0</h1>


        <ul style="width:300px;height: 50px;position: absolute;top:0;right: 0;">
            <!--elementy menu beda powtarzane i kazdy otrzyma klik-akcje w swoim elemencie na liscie w $scope-->
            <li style="display: inline-block" ng-repeat="menuOpt in menuOpts" ng-click="menuOpt.action()">
                {{menuOpt.name}}</li>
        </ul>
    </div>
    <div style="padding: 20px;width: 100%;height: calc(100% - 50px);margin-top: 50px">

        <!--Ten kod podlega trelloTasksController-->
        <div class="TrelloWrapper" ng-controller="trelloTasksController">
            <div class="Trelo-Card" ng-repeat="task in tasks"
                style="width: 200px; height: 200px; box-shadow: 0 1px 3px black; position: relative;display: inline-block; margin: 0 5px">
                <!--ng-class wywola metode checkStatus z parametrem task.id - task to jest element w petli-->
                <div ng-class="checkStatus(task.id)"
                    style="text-align: center; font-weight: bold; margin-bottom: 30px; background: black; color: white;">
                    {{task.title}}</div>
                <div style="text-align: center">{{task.user}}</div>
                <div style="position: absolute; bottom: 0; right: 0;">{{task.id}}</div>
            </div>

        </div>
    </div>



    <!--Definicja angulara zawsze na poczatku-->
    <script src="node_modules/angular/angular.js"></script>

    <!--nasz GLobal.asax-->
    <script src="./app/app.js"></script>

    <!--Mięcho - tu definiujemy logike biznesowa i nasze serwisy/kontrolery -->
    <script src="app/controllers/firstController.js"></script>
    <script src="app/controllers/secondController.js"></script>
    <script src="app/services/kidsService.js"></script>
    <script src="app/controllers/trelloTasksController.js"></script>
    <script src="app/controllers/headerController.js"></script>



</body>

</html>